.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }
  .container{
    padding: 0 2rem;
  }
  .blogItem{
    cursor: pointer;
  }